@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100;200;300;400;700&family=Poppins:wght@100;300;400&family=Roboto&display=swap');

:root {
  --main-bg-color: #1c1a19;
  --second-color: #3c3a39;
  --highlight: #ff6b00;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-size: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* the fonts for the project */
body {
  font-family: "Poppins", sans-serif;
}

/* first section */
.navBar {
  background-color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* second section */
#landpageSection,
#aboutMe {
  background-color: var(--main-bg-color);
  display: flex;
}

.social-media {
  display: flex;
}

/* works section */

.worksSection {
  background-color: #fff;
  min-height: 100vh;
  display: grid;
}

.primaryCardText {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  margin: 0;
  line-height: 44px;
  color: #091e42;
}

.seconndryCardText {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.mainListCategoris {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 12px;
}

.actionBtn {
  margin-top: 20px;
}

.mainTags {
  border: 1px solid #8993a4;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
}

.btn {
  align-items: center;
  gap: 10px;
  background: var(--highlight);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffff;
  border-width: none;
  border-style: none;
  border-color: none;
}

.btn:hover {
  color: var(--highlight);
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  cursor: pointer;
}

.btn:active {
  background: #e05304;
  color: #f4f1f0;
}

.btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.cardBtn {
  height: 45px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

@media only screen and (min-width: 375px) {
  /* first section */

  .navBar {
    height: 48px;
    padding: 0 24px;
  }

  nav {
    width: 100%;
  }

  nav .flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .navBar img {
    height: 14px;
  }

  .navInfo {
    display: none;
  }

  /* second section */
  #landpageSection {
    height: calc(100vh - 48px);
    flex-direction: column;
    align-items: flex-start;
    padding: 0 24px;
    background-image: url(imgs/Illustration.svg);
    background-repeat: no-repeat;
    background-position-y: 115%;
    background-position-x: right;
  }

  .mainParagraph {
    padding-top: 120px;
  }

  .mainParagraph .welcomeText {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    margin: 0;
    color: var(--highlight);
  }

  .mainParagraph .supportingText {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #fff5e1;
    margin-block: 12px;
  }

  .mainParagraph .description {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  .social-media {
    width: 50%;
  }

  .social-media ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  /* Works sections */
  .worksSection {
    margin: 120px 24px;
  }

  .worksTitle {
    font-family: "Crete Round", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    margin: 0;
    padding-bottom: 35px;
    color: var(--main-bg-color);
    border-bottom: 1px solid #212121;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* main card section */

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .skillsContent img {
    margin-right: 12px;
  }

  #mainWork img {
    width: 100%;
    object-fit: cover;
  }

  #mainWork {
    margin-top: 80px;
  }

  .primaryCardText {
    margin-block: 24px 12px;
  }

  .seconndryCardText {
    margin: 0;
  }

  .mainListCategoris {
    margin-top: 12px;
  }

  .actionBtn {
    margin-top: 12px;
  }

  .mainBtn {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background: var(--highlight);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    border-width: none;
    border-style: none;
    border-color: none;
  }

  /* works card wrapper */
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }

  .worksCard {
    height: 320px;
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(imgs/works/work2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 72px 19px 9px 13px;
    margin-top: 24px;
    position: relative;
    transition: all 1s ease;
  }

  .CardText {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-bottom: 12px;
  }

  .paragraphCardText {
    width: 300px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    color: #fff;
  }

  .tags {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background: rgba(255, 255, 255, 0.24);
    color: #fff;
    font-size: 14px;
  }

  /* about me section */
  #aboutMe {
    flex-direction: column;
    min-height: 150vh;
    padding: 0 24px;
    background-image: url(imgs/illustration-about-me-mobile.svg);
    background-repeat: no-repeat;
    background-position-y: 400px;
    background-position-x: right;
  }

  .aboutMeText {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    margin: 0;
    color: var(--highlight);
  }

  .aboutMeDescription {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  .getResumeBtn {
    padding: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.03em;
  }

  #aboutMe .mainParagraph {
    border-bottom: 1px solid #fff;
    height: 90vh;
  }

  .skillsContainer {
    margin-top: 124px;
    align-items: center;
    text-align: center;
  }

  .skillsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skillsContent {
    padding: 20px;
  }

  .skillsContent span {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .innerSkills {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 20px 0;
  }

  .innerSkills li {
    padding: 5px;
  }

  /* contact form and footer section  */

  .formContainer {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .formContainer h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
    padding: 0 24px;
  }

  .contactForm {
    margin-top: 3rem;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    row-gap: 45px;
  }

  .contactForm input {
    width: 350px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #dbd8d7;
  }

  .contactForm textarea {
    width: 350px;
    padding: 15px;
    border: none;
    background-color: #fbf8f7;
  }

  .contactForm input::placeholder {
    padding-left: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
  }

  .contactForm textarea::placeholder {
    padding-left: 10px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
  }

  .contactForm input:focus-visible {
    border: none;
    border-bottom: 1px solid #7d7d7d;
    outline: none;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
  }

  .social-media-footer {
    margin-top: 3rem;
    width: 100%;
    height: 6rem;
    border-top: 1px solid #dfe1e6;
  }

  .social-media-footer ul {
    justify-content: center;
    column-gap: 20px;
    align-items: center;
  }
}

/* Descktop version */

@media only screen and (min-width: 768px) {
  /* header section */
  .navBar {
    justify-content: space-around;
    height: 72px;
    padding: 0;
  }

  .logo,
  .navInfo {
    transition: all 1s ease;
  }

  nav {
    padding: 0 5%;
  }

  .navBar img {
    height: 16px;
  }

  .menuIcon {
    display: none;
  }

  .navInfo {
    display: flex;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    column-gap: 40px;
  }

  .navInfo li {
    color: #fff;
  }

  nav .flex-container {
    align-items: center;
  }

  #landpageSection {
    height: calc(100vh - 72px);
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    background-image: url(imgs/Illustration-header.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center right;
  }

  .social-media {
    height: 190px;
    order: -1;
    width: 8%;
  }

  .social-media ul {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .mainParagraph {
    width: 50%;
    padding-top: 2.5%;
  }

  .mainParagraph .welcomeText {
    color: #f55800;
    font-size: 72px;
    line-height: 82px;
  }

  .mainParagraph .supportingText {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  .mainParagraph .description {
    font-size: 20px;
    line-height: 32px;
  }

  /* Works section */

  .worksTitle {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: none;
    align-items: center;
  }

  .worksTitle::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid black;
    margin-left: 28px;
  }

  .worksSection {
    padding: 0 150px;
  }

  #mainWork {
    min-height: 500px;
  }

  #mainWork > .card {
    flex-direction: row;
    gap: 15px;
  }

  .primaryCardText {
    margin-top: 0;
    font-size: 40px;
  }

  .cardImg {
    flex: 60%;
  }

  .cardContainer {
    flex: 40%;
  }

  .mainListCategoris {
    margin-block: 20px 10px;
  }

  .seconndryCardText {
    margin-top: 24px;
    font-size: 20px;
    line-height: 28px;
  }

  /* works section */

  .worksCard {
    cursor: pointer;
    transition: all 1s ease;
    display: flex;
    align-items: end;
  }

  .worksCard button {
    display: none;
    transition: all 1s ease;
  }

  .worksCard .cardContent {
    margin-top: 65px;
  }

  .paragraphCardText {
    font-size: 17px;
    line-height: 24px;
  }

  .worksCard:hover button {
    display: block;
  }

  .worksCard:hover {
    background: url(imgs/works/work2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .worksCard:hover .card-container {
    display: none;
  }

  /* about me section */
  #aboutMe {
    padding: 0;
    background-image: none;
    min-height: 145vh;
  }

  #aboutMe .aboutMeDiv {
    background-image: url(imgs/illustration-about.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50%;
    padding: 150px;
  }

  #aboutMe .mainParagraph {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    border-bottom: none;
    row-gap: 10px;
    height: 65vh;
  }

  #aboutMe .mainParagraph button {
    align-self: flex-start;
    padding: 12px;
    gap: 10px;
    width: 156px;
    height: 48px;
  }

  #aboutMe .aboutMeText {
    color: #f55800;
    font-size: 72px;
    line-height: 82px;
  }

  #aboutMe .aboutMeDescription {
    font-size: 20px;
    line-height: 32px;
  }

  .skillsContainer {
    margin: 0 150px;
    border-top: 1px solid white;
    margin-top: 40px;
  }

  .skillsContainer .skillsList {
    margin-top: 120px;
    justify-content: space-between;
  }

  .skillsList .skillsContent {
    text-align: start;
  }

  .skillsList .innerSkills {
    align-items: baseline;
  }

  /* Contact Form */
  .formContainer {
    flex-direction: row;
    padding: 150px;
  }

  .formContainer .contactFormText {
    flex: 20%;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: start;
  }

  .formContainer form {
    flex: 2;
  }

  .contactForm input,
  .contactForm textarea {
    width: 100%;
  }

  .buttonContainer {
    align-self: baseline;
  }

  .social-media-footer {
    flex-direction: row;
    width: 100%;
    height: 75px;
  }

  .social-media-footer ul {
    flex-direction: row;
    justify-content: center;
  }

  .btn {
    background-color: #f55800;
  }
}
